// Variables and mixins
@import 'variables';
@import 'mixins';

// Custom bootstrap and utilities
@import 'custom-bootstrap';
@import 'utilities-api.scss';

// MDBootstrap
@import 'mdb-overrides.scss';

// Page
body {
   background-color: $bg-page;
}

// Typography
.title {
   @include title;
}
.sub-title {
   @include sub-title;
}
.text {
   @include text;
}

// Navbar
.navbar {
   background-color: $bg-light;
   padding: 0.5rem 0 0;

   .navbar-toggler {
      color: $text-secondary;
      padding: 1rem;
   }

   .navbar-brand {
      padding: 1rem;
      position: relative;
   }

   .navbar-title {
      @include title(1.5rem);
      color: $text-accent;
   }

   .navbar-nav {
      padding: 0;
   }

   .nav-item {
      padding: 0;
      margin: 0 3rem 0 0;
      text-align: center;
   }

   .nav-link {
      @include sub-title(1.25rem);
      padding: 1rem;
      position: relative;
   }

   .navbar-brand::after,
   .nav-link::after {
      content: '';
      @include nav-item-border($text-accent, 0px, 50%);
   }

   .navbar-brand:hover::after,
   .nav-link:hover::after {
      width: 100%;
      left: 0;
   }

   // Mobile devices
   @include media-breakpoint-down(lg) {
      .navbar-brand {
         display: flex;
         justify-content: center;
         margin: 0;
      }

      .nav-item {
         margin: 0;
      }
   }
}
