// CORE FUNCTIONS
@import 'mdb-ui-kit/src/scss/bootstrap-rtl-fix/functions';
@import 'mdb-ui-kit/src/scss/free/functions';

// CORE VARIABLES
@import 'mdb-ui-kit/src/scss/custom/variables';
@import 'mdb-ui-kit/src/scss/free/variables';
@import 'mdb-ui-kit/src/scss/free/variables-dark';
@import 'mdb-ui-kit/src/scss/bootstrap-rtl-fix/variables';
@import 'mdb-ui-kit/src/scss/bootstrap-rtl-fix/variables-dark';
@import 'mdb-ui-kit/src/scss/bootstrap-rtl-fix/maps';

// BOOTSTRAP CORE
@import 'mdb-ui-kit/src/scss/bootstrap-rtl-fix/mixins';
@import 'mdb-ui-kit/src/scss/bootstrap-rtl-fix/utilities';

// BOOTSTRAP CORE COMPONENTS
@import 'mdb-ui-kit/src/scss/bootstrap-rtl-fix/root';
@import 'mdb-ui-kit/src/scss/bootstrap-rtl-fix/reboot';
@import 'mdb-ui-kit/src/scss/bootstrap-rtl-fix/type';
@import 'mdb-ui-kit/src/scss/bootstrap-rtl-fix/images';
@import 'mdb-ui-kit/src/scss/bootstrap-rtl-fix/containers';
@import 'mdb-ui-kit/src/scss/bootstrap-rtl-fix/grid';

// BOOTSTRAP COMPONENTS
@import 'mdb-ui-kit/src/scss/bootstrap-rtl-fix/forms';
@import 'mdb-ui-kit/src/scss/bootstrap-rtl-fix/buttons';
@import 'mdb-ui-kit/src/scss/bootstrap-rtl-fix/transitions';
@import 'mdb-ui-kit/src/scss/bootstrap-rtl-fix/nav';
@import 'mdb-ui-kit/src/scss/bootstrap-rtl-fix/navbar';
@import 'mdb-ui-kit/src/scss/bootstrap-rtl-fix/card';
@import 'mdb-ui-kit/src/scss/bootstrap-rtl-fix/accordion';
@import 'mdb-ui-kit/src/scss/bootstrap-rtl-fix/badge';
@import 'mdb-ui-kit/src/scss/bootstrap-rtl-fix/placeholders';

// Helpers
@import 'mdb-ui-kit/src/scss/bootstrap-rtl-fix/helpers';

// Utilities
@import 'mdb-ui-kit/src/scss/free/utilities';
@import 'mdb-ui-kit/src/scss/bootstrap-rtl-fix/utilities/api';

// MDB CORE
@import 'mdb-ui-kit/src/scss/free/mixins';
@import 'mdb-ui-kit/src/scss/free/utilities';

// MDB CORE COMPONENTS
@import 'mdb-ui-kit/src/scss/free/root';
@import 'mdb-ui-kit/src/scss/free/reboot';
@import 'mdb-ui-kit/src/scss/free/type';
@import 'mdb-ui-kit/src/scss/free/colors';
@import 'mdb-ui-kit/src/scss/free/shadows';
@import 'mdb-ui-kit/src/scss/free/flag';
@import 'mdb-ui-kit/src/scss/free/images';

// MDB FORMS
@import 'mdb-ui-kit/src/scss/free/forms/form-control';
@import 'mdb-ui-kit/src/scss/free/forms/validation';

// MDB COMPONENTS
@import 'mdb-ui-kit/src/scss/free/buttons';
@import 'mdb-ui-kit/src/scss/free/nav';
@import 'mdb-ui-kit/src/scss/free/navbar';
@import 'mdb-ui-kit/src/scss/free/card';
@import 'mdb-ui-kit/src/scss/free/badge';
@import 'mdb-ui-kit/src/scss/free/ripple';
@import 'mdb-ui-kit/src/scss/free/accordion';
