// Colors
$primary-main: #FBFBFB;
$primary-light: #E3F2FD;
$primary-dark: #2962FF;

$secondary-main: #332D2D;
$secondary-light: white;
$secondary-dark: #304FFE;

// Fonts
$font-title: "Roboto", Arial, Verdana, sans-serif;
$font-text: "Open Sans", Verdana, Arial, sans-serif;
