// =================================
//   VARIABLES
// =================================

@use 'sass:color';

// ============== Colors ================

// Brand 
$primary-main: #2962FF;
$primary-alt: #651FFF;

// Background
$bg-page: #FFFFFF;
$bg-light: #F8FAFF;
$bg-accent: #E3F2FD;

// Text
$text-primary: #0D1B2A;
$text-accent: #2962FF;
$text-accent-dark: color.scale($text-accent, $lightness: -10%);
$text-secondary: #4B5563;
$text-light: #fff;

// ============== Fonts ================

$font: "Inter", Arial, sans-serif;
